.Track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    
    background-color: white;
    margin: 1.125rem auto;  
    padding: 1.125rem;
    border-radius: 10px;
   
}

.Track-information {
    text-align: left;
    
}

